<!--a post method automatically puts the input data in the request body and sends a request-->
<form action="/cart" method="post">
  <button class="btn" type="submit">Add to Cart</button>
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
